<div class="text-left">
  <h2>{{title}}</h2>
  <p>{{content}}</p>

  <p>Created by Cleave123</p>

  <button type="submit" class="btn">Update</button>

  <button type="button" id="delete-btn" class="btn">Delete</button>

  {{#each comments as |comment| }}
  <div class="card">
    <div>
      <h3>{{comment.created_by_id}}</h3>
    </div>
    <div class="card-body">
      <p>{{comment.comment}}</p>
    </div>
  </div>
  {{/each}}
</div>

<form id="new-comment" class="card">
  <div class="card-header">
    <h3>Leave a Comment</h3>
  </div>

  <div class="card-body">
    <input type="hidden" id="parent-post" value="{{id}}" />
    <label class="form-label" for="comment-body">Comment</label>
    <textarea id="comment" class="form-input"></textarea>
    <button type="submit" class="btn">Submit</button>
  </div>
</form>

<script src="/js/singlePost.js"></script>